* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif
}

.App {
  text-align: center; 
  margin-top: 50px; 
}

.flights,
.rotations,
.aircrafts {
  border: 1px solid #d7d7d7;
  box-shadow: 9px 2px 11px 0px #edecec;
  overflow-y: auto;
  border-radius: 5px;
  max-height: calc(100vh - 200px);
  background: #F1F5FD;
}

.flights{
  grid-area: flights;
}

.flights .title{
  position: sticky;
  top: 0;
  z-index: 2;
}

@media (max-width: 767px){
  .rotations{
    grid-column: auto;
  }
}

.title{
  background: #5F67EA;
  color: white;
  padding: 14px;
  margin: 0;
}

.App .content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
  width: min(100% - 4rem, 70rem);
  margin: 30px auto 0;
  gap: 10px;
  grid-template-areas:
        'aircrafts rotations rotations flights';
}

@media (max-width: 767px){
  .App .content{
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
        'aircrafts'
        'rotations'
        'flights';
  }
}
